[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/chromium-browser  --kiosk --app=https://beta.handddle.com
Name=Handddle App
Icon=/usr/local/handddle/applications/logos/handddle_logo.png
